<!DOCTYPE html>
<html>
<head>
    <title>User List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5">User List</h1>
    <table class="table mt-4">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>IIN</th>
                <th>All money</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.User_Name }}</td>
                <td>{{ user.User_IIN }}</td>
                <td>{{ user.All_money }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><a href="{% url 'Create' %}">User Add</a><br>
    <br><a href="{% url 'Transfer' %}">Transfer</a><br>
</div>
</body>
</html>